* {
  margin: 0;
}

:root {
  --cyan: rgba(146, 204, 206, 1);
  --gray: rgba(49, 52, 61, 1);
  --blue: rgba(71, 121, 183, 0.972);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(242, 241, 241);
}

h2 {
  color: var(--cyan);
  font-size: 50px;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  background-color: var(--gray);
  color: var(--gray)
}

nav a {
  color: var(--cyan);
  margin-right: 10px;
  font-size: 20px;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

#header {
  border: 5px solid var(--cyan);
  background-color: var(--cyan);
}

.text {
  font-size: 20px;
}

.page-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  display: flex;
  flex-wrap;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: 500px;
  min-width: 60%;
}

.contact a {
  font-size: 30px;
  padding: 10px;
  display: inline-block;
}

.contact a:hover {
  background-color: var(--cyan);
}

/* background images */

.first-image {
  background-image: url(../images/neon.jpg)
}
