* {
  margin: 0;
}

:root {
  --cyan: rgba(146, 204, 206, 1);
  --gray: rgba(49, 52, 61, 1);
}

.header {
  height: 50px;
  border: 30px solid var(--gray);
  background-color: var(--gray);
  margin-top: 0;
  padding: 0;
}

.h1 {
  position: relative;
  font-size: 50px;
  display: inline-block;
  border: 1px solid var(--cyan);
  background-color: var(--cyan);
  color: var(--gray);
  padding-top: 15px;
}

.h2 {
  position: relative;
  margin-left: 600px;
  color: var(--cyan);
  text-decoration: underline;
  display: inline-flex;
}

.h2-text {
  margin-left: 15px;
}